<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/b8804578b0.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../img/favico.jpg" />
    
</head>
<body>
     <!-- Inicia el nav -->
     <nav class="navbar navbar-expand-lg navbar-light  sticky-top" id="botonera">
      <div class="container-fluid">
        <a href="../index.html"   class="logo">
          <img src="../img/Logos/logo.jpg" width="50" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../views/Juegos.html">Juegos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Consolas.html">Consolas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/CrearCuenta.html">Crear Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/IniciarSesion.html">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- ends Nav -->

      <div>
        <h1 class="text-center">CONSOLAS</h1>
    </div>
    
    <div class="cartas">
        <main class="cuerpo-card">
            <article>
                <img src="../img/Consolas/ps4 slim.png" alt="">
                <div class="descripcion">
                    <h3>PlayStation 4 Slim 1TB</h3>
                    <p>12 Cuotas de $8.750</p>
                    <p>$105.000</p>
                    <button>Comprar</button>
                </div>
            </article>

            <article>
                <img src="../img/Consolas/ps4versionww2.png" alt="">
                <div class="descripcion">
                    <h3>Ps4 Slim Edicion WW2 1TB</h3>
                    <p>12 Cuotas de $7.500</p>
                    <p>$85.000</p>
                    <button>Comprar</button>
                </div>
            </article>

            <article>
                <img src="../img/Consolas/ps5godofwar.png" alt="">
                <div class="descripcion">
                    <h3>Ps4 Pro 1TB Edicion Limitada God Of War</h3>
                    <p>12 Cuotas de $11.500</p>
                    <p></p>
                    <button>Comprar</button>
                </div>
            </article>

            <article>
                <img src="../img/Consolas/ps5.png" alt="">
                <div class="descripcion">
                    <h3>PlayStation 5 825GB</h3>
                    <p>12 Cuotas de $15.000</p>
                    <p>$180.000</p>
                    <button>Comprar</button>
                </div>
            </article>






        </main>

    </div>


    <footer class="footer">
      <div class="inner-footer">
        <div class="social-links">
          <ul>
            <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li class="social-items"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="social-items"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="outer-footer">
      </div>
    </footer>

    <script src="../js/bootstrap.min.js"></script>
</body>
</html>