<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/b8804578b0.js" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" href="../img/favico.jpg" />

</head>
<body>
     <!-- Inicia el nav -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-black" id="botonera">
      <div class="container-fluid">
        <a href="../index.html" class="logo">
          <img src="../img/Logos/logo.jpg" width="50" height="50" alt="">
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="../views/Juegos.html">Juegos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Consolas.html">Consolas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../views/CrearCuenta.html">Crear Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/IniciarSesion.html">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
    </div>
    </nav>
      <!-- ends Nav -->
    
      <div>
        <section class="form-register">
          <h4>CREAR CUENTA</h4>
          <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
          <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
          <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
          <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
          <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
          <input class="botons" type="submit" value="Registrarse">
          <p><a href="#">¿Ya tengo Cuenta?</a></p>
        </section>
      </div>

      <footer class="footer">
        <div class="inner-footer">
          <div class="social-links">
            <ul>
              <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li class="social-items"><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li class="social-items"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="outer-footer">
        </div>
      </footer>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>