<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    
    <link rel="shortcut icon" href="../img/favico.jpg" />
</head>
<body>
     <!-- Inicia el nav -->
     <nav class="navbar navbar-expand-lg navbar-light  sticky-top" id="botonera">
      <div class="container-fluid">
        <a href="../index.html"   class="logo">
          <img src="../img/Logos/logo.jpg" width="50" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../views/Juegos.html">Juegos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Consolas.html">Consolas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/CrearCuenta.html">Crear Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/IniciarSesion.html">Iniciar Sesion</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!-- ends Nav -->
    
      <div>
        <h1 class="text-center">Juegos digitales Argentina</h1>
    </div>
    <div class="cartas">
        <main class="cuerpo-card">

            <!-- CARD1 -->
            <article>
                <img src="../img/Juegos/daysgone.jpg" alt="">
                <div class="descripcion">
                    <h3>Dayz Gone</h3>
                    <p>12 cuotas de $400</p>
                    <p>$4.800</p>
                    <button>Comprar</button>
                </div>
            </article>

            <!-- CARD2 -->
            <article>
                <img src="../img/Juegos/god of war.jpg" alt="">
                <div class="descripcion">
                    <h3>God Of War</h3>
                    <p>12 Cuotas de $458,33</p>
                    <p>$5.500</p>
                    <button>Comprar</button>
                </div>
            </article>

            <!-- CARD3 -->
            <article>
                <img src="../img/Juegos/gta5.jpg" alt="">
                <div class="descripcion">
                    <h3>Grand Theft Auto V</h3>
                    <p>12 Cuotas de $416,66</p>
                    <p>$5.000</p>
                    <button>Comprar</button>
                </div>
            </article>

            <!-- CARD4 -->
            <article>
                <img src="../img/Juegos/destiny.jpg" alt="">
                <div class="descripcion">
                    <h3>Destiny</h3>
                    <p>12 Cuotas de $350</p>
                    <p>$4200</p>
                    <button>Comprar</button>
                </div>
            </article>
        </main>
    </div>
    
   
   
        <footer>
        <div>
            <h2>Contacto </h2>
            <a href="https://www.facebook.com/" target="_blank" >
            <img src="../img/logos/fb.jpg" alt="logo de facebook" width="50" />
            </a>
            <a href="https://www.instagram.com/?hl=es" target="_blank" >
            <img src="../img/logos/ig.png" alt="logo de instagram" width="50" />
            </a>
          </div>
    
          <div>
          <h2>Metodos de pago</h2>
    
          <img class="pagos" src="../img/logos/pagos.png" alt="tipos de pago" width="90"/>
          </div>
    
          <div>
          <h2>Ubicacion</h2>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201391.1344206234!2d-57.59472515801482!3d-37.936586393305525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d9ac256d9f5b%3A0x5e7f2ec5774be120!2sFrench%2C%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653595360845!5m2!1ses!2sar"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        </div>
      </div>
    </footer>
    <script src="./js/bootstrap.min.js"></script>

</body>
</html>